*.iml
.gradle
/local.properties
/app.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
/m2
/docs
/javadocs

.project
.settings/
app/.classpath
app/.project
app/.settings/
rom-sdk-library/.classpath
rom-sdk-library/.project
rom-sdk-library/.settings/